// src/styles/global.scss
@import 'variables';
@import 'mixins';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: $font-size-base;
}

body {
  background-color: $background-color;
  color: $text-color;
  @include body-text;
}

// h1, h2, h3, h4, h5, h6 {
//   @include heading-style;
// }

// h1 { font-size: $font-size-h1; }
// h2 { font-size: $font-size-h2; }
// h3 { font-size: $font-size-h3; }
// h4 { font-size: $font-size-h4; }